.oliviacenter{
    text-align: center;
    color: #6e4e4e;
    background-color: #ecb4bede;
    border-radius: 100px;
}
.me{
    background-color: rgba(243, 211, 241, 0.808);
    padding: 20px 30px ;
    border-radius: 15px;
    color: #6d4e6e;
    margin: 80px auto;
    width: 80%;
    overflow: auto;
}
.centercenter{
    text-align: center;
}
a.shulink{
    color: #671e1e;
     padding: 0 30px;
     border-radius: 40px;
    background-color: #cfadb5;
}
.shulink:hover{
    background-color: #c2a3a3;
    color: #935d33;
}
a.sshslink{
    color: #3c2b2a;
     padding: 0 30px;
     border-radius: 40px;
     background-color: #cfadb5;
}
.sshslink:hover{
    background-color: #ddcab2;
    color: #935d33;
}
.oliviabig{
    font-size: 20px;
    font-weight: 800px;
}
.oliviago{
    text-align: center;
    font-size: 60px;
}
section#about{
    background-color: rgb(240, 216, 232);
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
section#about h1{
    color: #8d5757;
}
section#cta{
    background-color: #efc7c7;
}
section#cta h2{
    color: #69545a;
}
body {
    font-family: "Noto Serif TC", serif;
}
.oliviago a{
    margin-right: 30px;
    color: #502a2a;
}
a.drinkshoplink{
    color: #702137;
     padding: 0 30px;
     border-radius: 40px;
     background-color: #cfadb5;
}
.drinkshoplink:hover{
    background-color: #ddcab2;
    color: #935d33;
}
a.breadlink{
    color: #a26236;
     padding: 0 30px;
     border-radius: 40px;
     background-color: #cfadb5;
     font-size: 90px;
}
.breadlink:hover{
    background-color: #ddcab2;
    color: #935d33;
}
.oliviapic{
    width: 95%;
    border-radius: 10px;
}
